parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$date of method Carbon\\Carbon\:\:isAfter\(\) expects DateTimeInterface\|string, Carbon\\Carbon\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/PlannedEvent.php

		-
			message: '#^Property CaesarGustav\\Scheduler\\Scheduler\:\:\$dateTime in isset\(\) is not nullable nor uninitialized\.$#'
			identifier: isset.initializedProperty
			count: 1
			path: src/Scheduler.php
